/*
$layout-breakpoint-xs: 600px !default;
*/
/*
$layout-breakpoint-xs: 600px !default;
*/
body {
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  background-color: #c1daf7; }

* {
  box-sizing: border-box; }

button {
  background-color: transparent;
  color: #696969;
  border: 0;
  padding: 5px;
  min-width: 50px;
  margin: 0px 5px;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer; }

.hide-element {
  display: none !important; }

.card-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.container {
  margin: 0 auto;
  text-align: center;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.45);
  color: #ffffff;
  padding: 30px;
  border-radius: 3px; }
  .container input {
    height: 35px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.43);
    border: 0px;
    color: #ffffff;
    padding-left: 10px;
    font-size: 18px; }

.page-container {
  width: 1024px;
  margin: auto; }

@media (max-width: 991px) {
  .page-container {
    width: 700px;
    margin: auto; } }
@media (max-width: 767px) {
  .page-container {
    width: 100%;
    margin: auto; } }
/*
$layout-breakpoint-xs: 600px !default;
*/
/*
$layout-breakpoint-xs: 600px !default;
*/
.top-nav-bar {
  padding: 10px 15px;
  margin-bottom: 50px;
  background-color: #ffffff;
  height: 70px;
  width: 100%; }
  .top-nav-bar a {
    color: #2b2b2b;
    text-decoration: none;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px; }
    .top-nav-bar a.active {
      font-weight: 600; }
  .top-nav-bar .top-bar-left {
    float: left;
    line-height: 50px; }
  .top-nav-bar .top-bar-right {
    float: right; }

/*
$layout-breakpoint-xs: 600px !default;
*/
.drawing-board-page .panel {
  border-radius: 10px;
  border: 1px solid #ffffff;
  display: table;
  width: 100%;
  overflow: hidden;
  margin-bottom: 15px;
  padding: 10px; }
.drawing-board-page .control-panel .panel-section {
  width: 33.33%;
  padding: 10px;
  float: left;
  height: 150px; }
  .drawing-board-page .control-panel .panel-section label {
    float: left;
    padding-bottom: 10px;
    font-size: 14px;
    color: #696969;
    width: 100%;
    text-align: left; }
  .drawing-board-page .control-panel .panel-section .icon-button {
    padding: 5px 0px;
    margin: 0px;
    min-width: 40px;
    height: 40px; }
    .drawing-board-page .control-panel .panel-section .icon-button.active {
      background-color: rgba(255, 255, 255, 0.33); }
.drawing-board-page .actions-panel {
  text-align: right; }
  .drawing-board-page .actions-panel .link-cont {
    display: block;
    float: left;
    word-break: break-all;
    text-align: left; }
.drawing-board-page .drawing-board {
  width: 100%;
  height: 400px; }
  .drawing-board-page .drawing-board .konvajs-content {
    background-color: #ffffff;
    border-radius: 10px; }
@media (max-width: 767px) {
  .drawing-board-page .control-panel .panel-section {
    width: 100%;
    height: auto; } }

/*
$layout-breakpoint-xs: 600px !default;
*/
.drawings-list-page .drawings-list ul {
  margin: 0;
  list-style-type: none;
  padding: 0; }
  .drawings-list-page .drawings-list ul .list-item {
    width: 33.33%;
    padding: 15px;
    float: left;
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
    background-color: #ffffff; }
    .drawings-list-page .drawings-list ul .list-item:hover {
      background-color: #ffffff !important;
      /* must use important because of the dynamically generated property.*/
      transform: scale(1.02); }
    .drawings-list-page .drawings-list ul .list-item .drawing-preview {
      width: 100%;
      height: 200px; }
    .drawings-list-page .drawings-list ul .list-item .meta-label {
      color: #2f2f2f;
      font-size: 14px;
      padding-top: 13px; }
      .drawings-list-page .drawings-list ul .list-item .meta-label.duration {
        float: left;
        color: #3F51B5; }
      .drawings-list-page .drawings-list ul .list-item .meta-label.created {
        float: right; }
@media (max-width: 767px) {
  .drawings-list-page .drawings-list ul .list-item {
    width: 100%; } }

/*
$layout-breakpoint-xs: 600px !default;
*/
.drawing-view-page .drawing-preview {
  width: 100%;
  position: relative; }
  .drawing-view-page .drawing-preview .download-link {
    position: absolute;
    top: 10px;
    right: 10px; }
  .drawing-view-page .drawing-preview img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #ffffff; }
  .drawing-view-page .drawing-preview .drawing-meta {
    position: absolute;
    bottom: 4px;
    width: 100%;
    padding: 15px;
    background-color: rgba(214, 214, 214, 0.43);
    border-radius: 0px 0px 10px 10px; }
    .drawing-view-page .drawing-preview .drawing-meta .meta-label {
      color: #2f2f2f;
      font-size: 14px;
      padding-top: 5px; }
      .drawing-view-page .drawing-preview .drawing-meta .meta-label.duration {
        float: left;
        color: #3F51B5; }
      .drawing-view-page .drawing-preview .drawing-meta .meta-label.created {
        float: right; }
@media (max-width: 767px) {
  .drawing-view-page .drawing-preview {
    padding: 15px; } }

/*# sourceMappingURL=app.css.map */
