/*
$layout-breakpoint-xs: 600px !default;
*/
/*
$layout-breakpoint-xs: 600px !default;
*/
body {
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  background-color: #c1daf7; }

* {
  box-sizing: border-box; }

/*
a {
  color: #00bcd4;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: #1976d2;
}

.text-center {
  text-align: center;
}
*/
.card-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.container {
  margin: 0 auto;
  text-align: center;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.45);
  color: #ffffff;
  padding: 30px;
  border-radius: 3px; }
  .container input {
    height: 35px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.43);
    border: 0px;
    color: #ffffff;
    padding-left: 10px;
    font-size: 18px; }

.page-container {
  width: 1024px;
  margin: auto; }

@media (max-width: 991px) {
  .page-container {
    width: 700px;
    margin: auto; } }
@media (max-width: 767px) {
  .page-container {
    width: 100%;
    margin: auto; } }
/*
$layout-breakpoint-xs: 600px !default;
*/
/*
$layout-breakpoint-xs: 600px !default;
*/
.top-nav-bar {
  padding: 10px 15px;
  margin-bottom: 50px;
  background-color: #ffffff;
  height: 70px;
  width: 100%; }
  .top-nav-bar a {
    color: #2b2b2b;
    text-decoration: none;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px; }
  .top-nav-bar .top-bar-left {
    float: left;
    line-height: 50px; }
  .top-nav-bar .top-bar-right {
    float: right; }

/*
$layout-breakpoint-xs: 600px !default;
*/
.drawing-board-page .drawing-board {
  width: 100%;
  height: 400px; }
  .drawing-board-page .drawing-board .konvajs-content {
    background-color: #ffffff;
    border-radius: 10px; }
@media (max-width: 767px) {
  .drawing-board-page .drawing-board {
    margin: 0 25px; } }

/*
$layout-breakpoint-xs: 600px !default;
*/
.drawings-list-page .drawings-list ul {
  margin: 0;
  list-style-type: none;
  padding: 0; }
  .drawings-list-page .drawings-list ul .list-item {
    width: 33.33%;
    padding: 15px;
    float: left;
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
    background-color: #ffffff; }
    .drawings-list-page .drawings-list ul .list-item:hover {
      opacity: 1 !important;
      /* must be important because of the dynamically generated opacity.*/
      transform: scale(1.02); }
    .drawings-list-page .drawings-list ul .list-item .drawing-preview {
      width: 100%;
      height: 200px; }
@media (max-width: 767px) {
  .drawings-list-page .drawings-list ul .list-item {
    width: 100%; } }

/*
$layout-breakpoint-xs: 600px !default;
*/
.drawing-view-page .drawing-preview {
  width: 100%; }
  .drawing-view-page .drawing-preview img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #ffffff; }
@media (max-width: 767px) {
  .drawing-view-page .drawing-preview {
    padding: 15px; } }

/*# sourceMappingURL=app.css.map */
