@import "responsive";
@import "variables";
body {
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  background-color: $back-color;
}

* {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  color: #696969;
  border: 0;
  padding: 5px;
  min-width: 50px;
  margin: 0px 5px;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;

}
.hide-element {
  display: none !important;
}
.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.container {
  margin: 0 auto;
  text-align: center;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.45);
  color: #ffffff;
  padding: 30px;
  border-radius:3px;
  input {
    height: 35px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.43);
    border: 0px;
    color: #ffffff;
    padding-left: 10px;
    font-size: 18px;
  }
}

.page-container {
  width: 1024px;
  margin: auto;
}
@include media-max($layout-breakpoint-md) {
  .page-container {
    width: 700px;
    margin: auto;
  }
}
@include media-max($layout-breakpoint-sm) {
  .page-container {
    width: 100%;
    margin: auto;
  }
}
