@import "responsive";
.drawing-board-page {
  .drawing-board {
    background-color: #ffffff;
    border-radius: 10px;
  }
  @include media-max($layout-breakpoint-sm) {
    .drawing-board {
      margin: 0 25px;
    }
  }
}

