@import "responsive";

.drawing-view-page {
  .drawing-preview {
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background-color: #ffffff;

    }
  }
  @include media-max($layout-breakpoint-sm) {
    .drawing-preview {
      padding: 15px;
    }
  }
}
