@import "responsive";
.drawing-board-page {
  .drawing-board {
    width: 100%;
    height: 400px;
    .konvajs-content {
      background-color: #ffffff;
      border-radius: 10px;
    }
  }
  @include media-max($layout-breakpoint-sm) {
    .drawing-board {
      margin: 0 25px;
    }
  }
}

